@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&family=Sriracha&display=swap');

:root {
     --font1: Verdana, Geneva, Tahoma, sans-serif;
     --font2: 'Passion One', cursive;
     --font3:  'Sriracha', cursive; 
}

*{ padding: 0px;
 margin: 0px;
}

 html,body {
      min-height: 100vh;
      color: darkgray;
      font-family: var(--font1);
}

header{ 
    width: 100%;
    background-color: black;
}

header > h1 {
      font-family: var(--font2);
      color: white;
      text-align: center;
      font-size: 10vw; 
      padding-top: 50px;
      font-variant: small-caps;
}

header h1:hover {
       text-decoration: underline;
}

header > p {
          text-align: center;
          color: white;
          padding-bottom: 50px;
          text-decoration: regular;
}

header a, footer  a{ color: white;
     padding-bottom: 3px;
     font-weight: bolder;
     text-decoration: none;
    }

header a:hover, footer a:hover{
      text-decoration: underline;
}


section{
     font-family: var(--font3);
     margin-top: 10vh;
     margin-bottom: 10vh;
     padding-left: 30px;
     font-size: 3vw;
}

section.normal{
      background-color: white;
      color: rgba(0, 0, 0, 0.294);
}


section.imagem {
       background-color: rgb(58, 57, 57);
       color: white;
       padding-top: 10vh;
       padding-bottom: 10vh;
}

section.imagem p {
       display: inline-block;
       background-color: rgba(0, 0, 0, 0.13);
}


section p{   
     line-height: 2em;
     padding: 5px;
    
}

footer{
      background-color: black;
      color: white;
      padding: 10px;
      text-align: center;
}


